@{
    ViewBag.Title = "About";
}


<div class="col-8 py-3">
    <div class="row pl-3">
        <div class="col">
            <h4>I'm Khumor Chang. Welcome to my Blog.</h4>
        </div>
    </div>
    <div class="row pl-3">
        <div class="col">
            <p>I'm a student at Coder Foundry currently studying to become a .NET developer.</p>
            <a href="https://khumorchang.azurewebsites.net/">Click here</a> to visit my Website.
        </div>
    </div>
</div>
