@{
    ViewBag.Title = "About";
}


<div class="col-8 py-3">
    <div class="row pl-3">
        <div class="col">
            <h4>I'm Khumor Chang. Welcome to my Blog.</h4>
        </div>
    </div>
    <div class="row pl-3">
        <div class="col">
            <p>I'm a .NET developer from Charlotte, North Carolina. I was a student at Coder Foundry where I learned how to code.
            I also studied at Central Piedmont Community College where I received my A.S. degree in Electronics Engineering.</p>
            <a href="https://khumorchang.azurewebsites.net/">Click here</a> to visit my Website.
        </div>
    </div>
</div>
