@{
    ViewBag.Title = "Confirm Email";
}

<header role="banner">
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-6">

                </div>
                <div class="col-6 search-top">
                    <!-- <a href="#"><span class="fa fa-search"></span></a> -->
                    @using (Html.BeginForm("Index", "BlogPosts", FormMethod.Get, htmlAttributes: new { @class = "form" }))
                    {
                        <div class="controls controls-row search-row">
                            <input id="searchStr" name="searchStr" class="input-block-level" type="text" placeholder="Search...">
                            <button id="searchStr" name="searchStr" class="btn-lg" type="submit">
                                <i class="icon-search"></i>
                            </button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="container logo-wrap">
        <div class="row pt-5">
            <div class="col-12 text-center">
                <a class="absolute-toggle d-block d-md-none" data-toggle="collapse" href="#navbarMenu" role="button" aria-expanded="false" aria-controls="navbarMenu"><span class="burger-lines"></span></a>
                <h1 class="site-logo">BLOG</h1>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-md  navbar-light bg-light">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="navbar-nav mx-auto">
                    <li>
                        <p>Home</p>
                    </li>
                    <li>
                        <p>&#183</p>
                    </li>
                    <li>
                        <a href="~/Home/About">About</a>
                    </li>
                    <li>
                        <p>&#183</p>
                    </li>
                    <li>
                        <a href="~/Home/Contact">Contact</a>
                    </li>
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li>
                            <p>&#183</p>
                        </li>
                        <li>
                            <a href="~/Account/Login">Login</a>
                        </li>
                        <li>
                            <p>&#183</p>
                        </li>
                        <li>
                            <a href="~/Account/Register">Register</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <p>&#183</p>
                        </li>
                        <li>
                            <a href="#">Log Off</a>
                        </li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            <p>&#183</p>
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("View Published Posts", "PubIndex", "BlogPosts")
                        </li>
                        <li>
                            <p>&#183</p>
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("View All Posts", "Index", "BlogPosts")
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="col pt-3 pl-3">
    <div class="row">
        <h2>Email Confirmed.</h2>
    </div>
    <hr />
    <div class="row pb-5">
        <p>
            Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>