
@{
ViewBag.Title = "ConfirmationSent";
}

<div class="row-8">
    <div class="col pt-3 pl-3">
        <div class="row">
            <h2>Check your Email</h2>
        </div>
        <hr />
        <div class="row pb-5">
            <p>
                A confirmation email has been sent. Please check your inbox.
            </p>
        </div>
    </div>

</div>
