@{
    ViewBag.Title = "Forgot Password Confirmation";
}


<div class="row-8">
    <div class="col">
        <p>
            Please check your email to reset your password.
        </p>
    </div>

</div>
	
