
@{
    ViewBag.Title = "NewRegister";
}


<div class="col-8 pt-3">
    <div class="row">
        <h2>Account Registered</h2>
    </div>
    <hr />
    <div class="row pb-5">
        <p>
            You have been registered! A confirmation email has been sent. Please check your inbox or click @Html.ActionLink("here to return Home!", "Index", "Home")
        </p>
    </div>
</div>
